/* Tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements. */
* {
  box-sizing: border-box;
  font-family: "Aboreto", cursive;
}

/* Sets the minimum height of the body element to 100% of the viewport height, increases the line height for better legibility, and changes the font family to a system font stack. */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Reduces the line height of heading elements and wraps their text in a way that best balances the number of characters on each line, enhancing layout quality and legibility. */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Makes sure that images can't break outside their parent element. Their maximum width is 100% of their parent element's width. */
img {
  max-width: 100%;
}

/* Removes the underline from the navigation links. */
nav a {
  text-decoration: none;
  position: relative;
}

/* Hover effect for links */
nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s; /* Smooth animation for the underline */
}

/* Extend underline on hover */
nav ul li a:hover::after {
  width: 100%; /* Fills the entire width on hover */
}

/* highlights current page with colour */
[aria-current="page"] {
  color: #ff004f;
}

.mainpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 25px;
  padding: 0;
}

#header a {
  margin: 0;
  color: #ff004f;
  text-decoration: none;
}

nav ul li {
  margin: 0 17px;
}

nav ul li a {
  color: #636363;
  font-size: 20px;
  text-decoration: none;
}

.quote {
  color: #636363;
  margin: 20px auto;
  font-size: 40px;
  text-align: center;

}

#steve-jobs {
  text-align: right;
  color: #636363;
  margin: 20px auto;
  font-size: 40px;
  margin: 20px;
}

div {
  font-family: mainfont;
}

.Personal-life {
  margin-left: 40px;
  margin-right: 70px;
}

#portfolio {
  padding: 50px 0;
}

.worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s;
}

.work figcaption {
  color: #ff004f;
  text-align: center;
  margin-top: 20px;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #636363;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}